In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("netflix_movies.CSV")

In [3]:
data.head()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"

In [4]:
data.shape

(9957, 9)

In [5]:
list(data.columns)

['title',
 'year',
 'certificate',
 'duration',
 'genre',
 'rating',
 'description',
 'stars',
 'votes']

In [6]:
data.describe()

            rating
count  8784.000000
mean      6.764515
std       1.214840
min       1.700000
25%       6.100000
50%       6.900000
75%       7.600000
max       9.900000

In [7]:
data.isnull()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,True,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,True,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
9927,False,False,False,False,False,False,False,False,False
9928,False,False,False,False,False,False,False,False,False
9929,False,False,False,False,False,False,False,False,False
9930,False,False,False,False,False,False,False,False,False
9931,False,False,False,False,False,False,False,False,False
9932,False,False,False,False,False,False,False,False,False
9933,False,False,False,False,False,False,False,False,False
9934,False,False,False,False,False,False,False,False,False
9935,False,False,False,False,False,False,False,False,False
9936,False,False,False,True,False,False,False,False,False
9937,False,False,False,False,False,False,False,False,False
9938,False,False,False,False,False,False,False,False,False
9939,False,False,False,False,False,False,False,False,False
9940,False,False,False,False,False,False,False,False,False
9941,False,False,False,False,False,False,False,False,False
9942,False,False,False,False,False,False,False,False,False
9943,False,False,False,False,False,False,False,False,False
9944,False,False,False,False,False,False,False,False,False
9945,False,False,False,False,False,False,False,False,False
9946,False,False,False,False,False,False,False,False,False
9947,False,False,False,False,False,False,False,False,False
9948,False,False,False,False,False,False,False,False,False
9949,False,False,False,False,False,False,False,False,False
9950,False,False,False,False,False,False,False,False,False
9951,False,False,False,False,False,False,False,False,False
9952,False,False,False,False,False,False,False,False,False
9953,False,False,False,False,False,False,False,False,False
9954,False,False,False,False,False,False,False,False,False
9955,False,False,False,False,False,False,False,False,False
9956,False,False,False,False,False,False,False,False,False

In [8]:
data1 = data[["title","rating","genre","year"]]

In [9]:
data1.head(20)

,title,rating,genre,year
0,Cobra Kai,8.5,"Action, Comedy, Drama",(2018– )
1,The Crown,8.7,"Biography, Drama, History",(2016– )
2,Better Call Saul,8.9,"Crime, Drama",(2015–2022)
3,Devil in Ohio,5.9,"Drama, Horror, Mystery",(2022)
4,Cyberpunk: Edgerunners,8.6,"Animation, Action, Adventure",(2022– )
5,The Sandman,7.8,"Drama, Fantasy, Horror",(2022– )
6,Rick and Morty,9.2,"Animation, Adventure, Comedy",(2013– )
7,Breaking Bad,9.5,"Crime, Drama, Thriller",(2008–2013)
8,The Imperfects,6.3,"Action, Adventure, Drama",(2022– )
9,Blonde,6.2,"Biography, Drama, Mystery",(2022)
10,Stranger Things,8.7,"Drama, Fantasy, Horror",(2016– )
11,End of the Road,4.7,"Action, Crime, Drama",(II) (2022)
12,The Walking Dead,8.1,"Drama, Horror, Thriller",(2010–2022)
13,Glass Onion: A Knives Out Mystery,8.1,"Crime, Drama, Mystery",(2022)
14,Do Revenge,6.4,Comedy,(2022)
15,I Came By,6.1,Thriller,(2022)
16,No Limit,5.8,"Drama, Romance, Sport",(2022)
17,1899,9.6,"Drama, History, Horror",(2022– )
18,Peaky Blinders,8.8,"Crime, Drama",(2013–2022)
19,Fate: The Winx Saga,6.9,"Action, Adventure, Drama",(2021– )

In [10]:
print(data1["rating"].unique())

[8.5 8.7 8.9 5.9 8.6 7.8 9.2 9.5 6.3 6.2 4.7 8.1 6.4 6.1 5.8 9.6 8.8 6.9
 7.6 8.4 8.  7.4 6.5 5.  8.2 7.9 6.8 5.3 9.  7.1 7.3 nan 7.7 8.3 7.5 6.6
 3.3 9.1 6.7 5.4 2.7 7.2 7.  2.6 9.3 5.7 4.3 5.5 4.9 5.2 4.  5.1 4.5 5.6
 4.8 4.4 6.  3.9 4.1 4.2 2.8 3.5 3.8 4.6 3.6 3.7 2.9 3.2 3.4 3.1 2.3 2.5
 9.4 2.1 3.  2.2 2.  1.7 2.4 9.9]

In [11]:
data1["rating"].value_counts()

7.2    348
7.4    329
7.1    319
7.6    305
6.8    300
7.3    295
6.5    290
7.5    290
6.6    289
7.7    278
7.0    278
6.7    265
7.8    259
6.9    257
6.4    249
6.3    239
7.9    230
6.2    230
8.0    199
6.1    194
5.9    191
8.2    190
8.1    190
5.8    170
5.7    155
5.5    148
5.4    144
5.6    144
8.3    141
8.4    138
      ...
4.2     30
9.1     28
3.9     26
4.0     23
3.7     23
4.1     21
3.6     20
3.5     19
3.4     19
3.1     18
3.3     16
9.2     15
3.2     12
9.3     11
9.4     11
2.5      8
2.7      8
2.8      7
9.5      7
9.6      6
2.6      5
2.3      5
2.9      4
3.0      3
2.2      3
2.0      2
2.1      2
2.4      1
1.7      1
9.9      1
Name: rating, Length: 79, dtype: int64

In [12]:
data1.loc[(data1.rating == 8.4)]

,title,rating,genre,year
22,Supernatural,8.4,"Drama, Fantasy, Horror",(2005–2020)
44,Brooklyn Nine-Nine,8.4,"Comedy, Crime",(2013–2021)
47,Outlander,8.4,"Drama, Fantasy, Romance",(2014– )
56,Sex Education,8.4,"Comedy, Drama",(2019– )
110,"Love, Death & Robots",8.4,"Animation, Short, Action",(2019– )
115,Billions,8.4,Drama,(2016– )
136,Heartland,8.4,"Drama, Family",(II) (2007– )
144,Doc Martin,8.4,"Comedy, Drama, Romance",(2004–2022)
146,Star Trek: The Original Series,8.4,"Action, Adventure, Sci-Fi",(1966–1969)
150,The Good Wife,8.4,"Crime, Drama, Mystery",(2009–2016)
174,Star Wars: The Clone Wars,8.4,"Animation, Action, Adventure",(2008–2020)
179,JoJo's Bizarre Adventure,8.4,"Animation, Action, Adventure",(2012– )
181,American Crime Story,8.4,"Biography, Crime, Drama",(2016– )
186,The Americans,8.4,"Crime, Drama, Mystery",(2013–2018)
207,After Life,8.4,"Comedy, Drama",(2019–2022)
227,Maid,8.4,Drama,(2021)
230,Top Boy,8.4,"Crime, Drama, Thriller",(2011– )
242,Naruto,8.4,"Animation, Action, Adventure",(2002–2007)
243,Broadchurch,8.4,"Crime, Drama, Mystery",(2013–2017)
251,Narcos: Mexico,8.4,"Crime, Drama",(2018–2021)
263,My Hero Academia,8.4,"Animation, Action, Adventure",(2016– )
311,Unbelievable,8.4,"Crime, Drama",(2019)
323,Luther,8.4,"Crime, Drama, Mystery",(2010–2019)
339,Your Name.,8.4,"Animation, Drama, Fantasy",(2016)
540,Princess Mononoke,8.4,"Animation, Action, Adventure",(1997)
541,The Legend of Korra,8.4,"Animation, Action, Adventure",(2012–2014)
596,Vincenzo,8.4,"Action, Comedy, Crime",(2021– )
626,Ash vs Evil Dead,8.4,"Action, Comedy, Fantasy",(2015–2018)
678,Utopia,8.4,"Drama, Mystery, Sci-Fi",(I) (2013–2014)
736,Hometown Cha-Cha-Cha,8.4,"Comedy, Romance",(2021– )
...,...,...,...,...
8928,Go! Live Your Way,8.4,"Comedy, Family, Musical",(2019)
8929,Go! Live Your Way,8.4,"Comedy, Family, Musical",(2019)
8935,Go! Live Your Way,8.4,"Comedy, Family, Musical",(2019)
8999,The Sandman,8.4,"Drama, Fantasy, Horror",(2022– )
9032,Elite,8.4,"Crime, Drama, Thriller",(2018– )
9038,Teenage Bounty Hunters,8.4,"Comedy, Crime, Drama",(2020)
9049,BattleBots,8.4,"Action, Game-Show, Reality-TV",(2015– )
9061,3Below: Tales of Arcadia,8.4,"Animation, Action, Adventure",(2018–2019)
9062,3Below: Tales of Arcadia,8.4,"Animation, Action, Adventure",(2018–2019)
9064,3Below: Tales of Arcadia,8.4,"Animation, Action, Adventure",(2018–2019)
9068,BattleBots,8.4,"Action, Game-Show, Reality-TV",(2015– )
9129,Hotel Del Luna,8.4,"Action, Comedy, Drama",(2019)
9146,Zombieland Saga,8.4,"Animation, Comedy, Fantasy",(2018– )
9150,Power Rangers Beast Morphers,8.4,"Action, Adventure, Comedy",(2019–2020)
9179,She-Ra and the Princesses of Power,8.4,"Animation, Action, Adventure",(2018–2020)
9208,The 100,8.4,"Drama, Mystery, Sci-Fi",(2014–2020)
9221,Lucifer,8.4,"Crime, Drama, Fantasy",(2016–2021)
9310,BattleBots,8.4,"Action, Game-Show, Reality-TV",(2015– )
9417,Vagabond,8.4,"Action, Mystery, Thriller",(2019)
9418,BattleBots,8.4,"Action, Game-Show, Reality-TV",(2015– )
9429,Vagabond,8.4,"Action, Mystery, Thriller",(2019)
9451,The Good Place,8.4,"Comedy, Drama, Fantasy",(2016–2020)
9475,Lucifer,8.4,"Crime, Drama, Fantasy",(2016–2021)
9583,The Dragon Prince,8.4,"Animation, Action, Adventure",(2018– )
9764,Ethos,8.4,"Drama, Thriller",(2020)
9769,The Umbrella Academy,8.4,"Action, Adventure, Comedy",(2019–2023)
9884,Top Gear,8.4,"Adventure, Comedy, Reality-TV",(2002– )
9913,Unstoppable,8.4,"Comedy, Drama",(2020– )
9933,Outlander,8.4,"Drama, Fantasy, Romance",(2014– )
9955,Supernatural,8.4,"Drama, Fantasy, Horror",(2005–2020)

In [13]:
print(data1["rating"].unique())

[8.5 8.7 8.9 5.9 8.6 7.8 9.2 9.5 6.3 6.2 4.7 8.1 6.4 6.1 5.8 9.6 8.8 6.9
 7.6 8.4 8.  7.4 6.5 5.  8.2 7.9 6.8 5.3 9.  7.1 7.3 nan 7.7 8.3 7.5 6.6
 3.3 9.1 6.7 5.4 2.7 7.2 7.  2.6 9.3 5.7 4.3 5.5 4.9 5.2 4.  5.1 4.5 5.6
 4.8 4.4 6.  3.9 4.1 4.2 2.8 3.5 3.8 4.6 3.6 3.7 2.9 3.2 3.4 3.1 2.3 2.5
 9.4 2.1 3.  2.2 2.  1.7 2.4 9.9]

In [14]:
data1["rating"].value_counts()

7.2    348
7.4    329
7.1    319
7.6    305
6.8    300
7.3    295
6.5    290
7.5    290
6.6    289
7.7    278
7.0    278
6.7    265
7.8    259
6.9    257
6.4    249
6.3    239
7.9    230
6.2    230
8.0    199
6.1    194
5.9    191
8.2    190
8.1    190
5.8    170
5.7    155
5.5    148
5.4    144
5.6    144
8.3    141
8.4    138
      ...
4.2     30
9.1     28
3.9     26
4.0     23
3.7     23
4.1     21
3.6     20
3.5     19
3.4     19
3.1     18
3.3     16
9.2     15
3.2     12
9.3     11
9.4     11
2.5      8
2.7      8
2.8      7
9.5      7
9.6      6
2.6      5
2.3      5
2.9      4
3.0      3
2.2      3
2.0      2
2.1      2
2.4      1
1.7      1
9.9      1
Name: rating, Length: 79, dtype: int64

In [15]:
data1.loc[(data.rating == 8.1) & (data1.year=="2005–2020")]

Empty DataFrame
Columns: [title, rating, genre, year]
Index: []

In [16]:
data1.iloc[2]

title     Better Call Saul
rating                 8.9
genre         Crime, Drama
year           (2015–2022)
Name: 2, dtype: object

In [17]:
data1.iloc[4:10,:2]

                    title  rating
4  Cyberpunk: Edgerunners     8.6
5             The Sandman     7.8
6          Rick and Morty     9.2
7            Breaking Bad     9.5
8          The Imperfects     6.3
9                  Blonde     6.2

In [18]:
data2 = data[["title","rating","genre","year","votes"]]

In [19]:
list(data2.columns)

['title', 'rating', 'genre', 'year', 'votes']

In [20]:
del.data1(rating)

SyntaxError: invalid syntax (<ipython-input-20-e9b3ebb78f70>, line 1)

In [ ]:
data2.drop(labels='rating', axis=1)

In [ ]:
"axis = 1 means column, and axis = 0 for row"

In [ ]:
list(data.columns)

In [ ]:
data.drop(labels=['certificate','stars'], axis=1)

In [ ]:
import numpy as np

In [ ]:
data2.sort_values("rating", ascending= False)